/audio/.AppleDouble/.Parent
/audio/.AppleDouble/STE-044.wav
/audio/.AppleDouble/STE-045.wav
/audio/.AppleDouble/STE-046.wav
/audio/.AppleDouble/answerPhone.wav
/audio/.AppleDouble/gotTheTime.wav
/audio/.AppleDouble/gotTheTimeRight.wav
/audio/.AppleDouble/hello1.wav
/audio/.AppleDouble/hello2.wav
/audio/.AppleDouble/hello3.wav
/audio/.AppleDouble/hello4.wav
/audio/.AppleDouble/hello5.wav
/audio/.AppleDouble/john.wav
/audio/.AppleDouble/petePhone.wav
/audio/.AppleDouble/trimmedCow.wav
/audio/.AppleDouble/twoHellos.wav
